.DS_Store
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.sty
*.zip
presentation/slashbox/
notes/
report/auto/
presentation/AMSI-notes.md
*.blg
HOL/.ProofTheoryExtras.sml@neomake_*.sml
*.exe
report/.#COMP3710-report.tex
report/COMP3710-report.tex
