.DS_Store
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.sty
*.zip
presentation/slashbox/
notes/
report/auto/
presentation/AMSI-notes.md
*.blg
