.DS_Store
presentation/Proof-complete-gn.png
presentation/notes.md
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.sty
*.zip
presentation/slashbox/
notes/
report/auto/
presentation/working.png
report/COMP3710-report.blg